@font-face {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}
