$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$brainflix-primary: #0095FF;
$brainflix-primary-background: #FFFFFF;
$brainflix-hover: #0065AD;
$brainflix-primary-text: #323232; 
$brainflix-component: #000000;
$brainflix-secondary-text: #AFAFAF; 
$brainflix-border: #E1E1E1; 
$brainflix-secondary-background: #FAFAFA; 