@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.main {
    @include tablet {
        margin-top: 8.75rem;
    }
 
    &__title-container {
        border-bottom: $brainflix-border 2px solid;
        margin-top: 1.5625rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;

        @include tablet {
            font-size: 2.0625rem;
        }
    }

    &__author {
        font-size: .8125rem;
        font-weight: 700;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__author--b {
        display: none;
        @include tablet {
            display: flex;
            font-weight: 700;
            font-size: .875rem;
            margin-right: 1.875rem;
        }
    }

    &__date {
        color: $brainflix-secondary-text;
        font-size: .8125rem;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__date--b {
        display: none;
        @include tablet {
            display: flex;
            color: $brainflix-secondary-text;
            font-size: .875rem;
        }
    }

    &__views {
        color: $brainflix-secondary-text;
        font-size: .8125rem;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__views--b {
        display: none;
        @include tablet {
            display: flex;
            color: #AFAFAF;
            font-size: .875rem;
        }
    }

    .views {
        margin-right: .625rem;
    }

    &__likes {
        color: #AFAFAF;
        font-size: .8125rem;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__likes--b {
        display: none;
        @include tablet {
            display: flex;
            color: #AFAFAF;
            font-size: .875rem;
            margin-left: 1.875rem;
        }
    }

    .likes {
        margin-right: .625rem;
    }

    &__info--a {
        font-size: .8125rem;
        @include tablet {
            font-size: .875rem;
            margin-top: 1.5625rem;
            margin-bottom: 1.875rem;
        }
    }

    &__info--b {
        font-size: .8125rem;
        font-weight: 700;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__details-container--b {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__details-section {
        display: flex;
        justify-content: space-between;
        border-bottom: $brainflix-border 2px solid;

        @include tablet {
            display: none;
        }
    }

    &__details-section--a {
        display: flex;
        justify-content: space-between;

        @include tablet {
            display: none;
        }
    }

    &__details-section--b {
        @include tablet {
            display: flex;
        }
    }

    &__details-section--c {
        @include tablet {
            display: flex;
        }
    }
    &__form-text {
        margin-bottom: .3125rem;
        font-size: .8125rem;
        font-weight: 700;
        color: $brainflix-secondary-text;
        @include tablet {
            display: none;
        }
    }

    &__form-text--a {
        display: none;
        @include tablet {
            display: flex;
            font-size: .8125rem;
            font-weight: 700;
            color: $brainflix-secondary-text;
            padding-left: 4.375rem;
            font-size: .875rem;
        }
    }

    &__comment-input {
        @include tablet {
            display: flex;
            margin-left: 1.25rem;
            margin-top: -1.5625rem;
        }
    }

    &__comment-container {
        display: flex;
        border-bottom: $brainflix-border 2px solid;

    }

    &__comment-image {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 1.5625rem;
        margin-right: 1.25rem;
        margin-top: 1.5625rem;

        @include tablet {
            margin-top: .625rem;
            margin-right: 0;
            margin-top: -1.25rem;
        }
    }

    #comment {
        width: 13.125rem;
        height: 6.25rem;
        border: .125rem solid $brainflix-border;
        border-radius: .25rem;
        @include tablet {
            margin-top: .9375rem;
            margin-right: 1.5625rem;
            height: 2.125rem;
            width: 28.75rem;
        }
    }

    button {
        width: 13.625rem;
        height: 2.5rem;
        margin-top: .9375rem;
        margin-bottom: 1rem;
        background-color: $brainflix-primary;
        color: $brainflix-primary-background;
        font-weight: 700;
        border: none;
        border-radius: .25rem;
        background-image: url("../../assets/icons/add_comment.svg");
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: (.7rem .5rem);
        @include tablet {
            width: 10.9375rem;
            font-size: .75rem;
        }

        &:hover {
            background-color: $brainflix-primary;
        }
    }
}
