@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *; 

.navbar {
    @include tablet {
        display: flex;
    }
}

.navbar__container {
    display: flex;
    justify-content: center;
}

.navbar__logo {
    padding-left: 4.375rem;
    margin-top: .9375rem;
    margin-bottom: .625rem;

    @include tablet {
        padding-left: 1.5625rem;
        @include desktop {
            margin-right: 31.875rem;
        }
    }
}

.navbar__form {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.navbar__button {
    width: 16.25rem;
    height: 2.5rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    margin-left: .9375rem;
    margin-top: .625rem;
    @include tablet {
        display: none;
        margin-left: .9375rem;
    }
}

.navbar__button--b {
    width: 7.8125rem;
    height: 2.5rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-size: .625rem;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    display: none;
    @include tablet {
        display: flex;
        margin-left: 1.25rem;
        padding-top: .9375rem;
        padding-left: 2.5rem;
    }
}

#bflixSearch {
    width: 13.75rem;
    height: 2.5rem;
    margin-bottom: .625rem;
    margin-left: 1rem;
    border: .125rem solid $brainflix-border;
    border-radius: .25rem;

    @include tablet {
        margin-top: .9375rem;
        margin-left: 9.375rem;
    }
}

.navbar__avi {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    margin-left: -1.25rem;

    @include tablet {
        margin-left: 1.5625rem;
        margin-top: .625rem;
     }
}
