@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    display: flex;
    justify-content: space-evenly;
    border-bottom: #AFAFAF 1px solid;

    @include tablet {
        justify-content: flex-start;
    }
}

.comments__avi {
    background-color: #E1E1E1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: .625rem;
    margin-right: .625rem;

    @include tablet {
        margin-top: 1.5625rem;
    }
}

.comments__container {
    width: 16.25rem;

    @include tablet {
        width: 41.875rem;
    }
}

.comments__name {
    font-size: .8125rem;
    font-weight: 700;

    @include tablet {
        margin-top: 1.875rem;
    }
}

.comments__timestamp {
    font-size: .8125rem;
    color: #AFAFAF;

    @include tablet {
        margin-top: 1.875rem;
    }
}

.comments__comment {
    margin-top: 0rem;

    @include tablet {
        width: 40.625rem;
        margin-bottom: 1.875rem;
    }
}
