@use "./styles/partials/fonts";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables"as *;



body {
 padding-right: 1rem;
 padding-left: 1rem;
}

.commentsSectionA {
  display: flex;
  justify-content: space-between;
}
