@use "../../styles/partials/mixins" as *;


.desktopView {
    @include desktop {
      display: flex;
      // margin-top: 18.75rem;
    }
  }
  .desktopA{
    @include desktop {
      width: 53.125rem;
      border-right: #AFAFAF 1px solid;
      height: 50%;
    }
  }
  .desktopB {
    @include desktop {
      width: 6.25rem;
     
    }
  }